{% extends 'base.html.twig' %}

{% block title %}Invitation à la réunion{% endblock %}

{% block body %}

<div class="container-invitation">
 <img src="{{ asset('images/image.png') }}" alt="Logo" class="logo-invitation">
 <p>Vous avez été invité à une réunion.</p>
<h1>Invitation à la réunion : {{ reunion.titre }}</h1>
<h3>Organisateur : {{ organisateur.prenom }} {{ organisateur.nom }}</h3>


<p>Description : {{ reunion.description }}</p>
<p>Lieu : {{ reunion.lieu }}</p>
<p>Date de création : {{ reunion.dateCreation|date('d/m/Y H:i') }}</p>

<p>Votre invitation : {{ invitation.inviteEmail }}</p>

<h2>Répondez à cette invitation</h2>

réunion : {{ reunion.titre }}</h1>
{{ form_start(form) }}

{{ form_row(form.nom) }}
{{ form_row(form.prenom) }}
{{ form_row(form.commentaires) }}

<div class="confirmation-container">
    {{ form_widget(form.valider) }}
    {{ form_label(form.valider) }}
</div>



<div class="creneau-container">
    <div class="creneau-titre">Créneaux disponibles</div>
    {% for checkbox in form.reponsesCreneauxes %}
        <div class="creneau-option">
            {{ form_widget(checkbox) }}
            {{ form_label(checkbox) }}
        </div>
    {% endfor %}
</div>
<p>Vous pouvez répondre à cette invitation en cliquant sur le bouton ci-dessus.</p>
<button type="submit" class="btn-sendReponse">Envoyer la réponse</button>

{{ form_end(form) }}

<p>Pour toute question, veuillez contacter l'organisateur de la réunion.</p>
<p>Merci de votre attention.</p>
</div>
{% endblock %}
