{% extends 'base.html.twig' %}

{% block title %}Modifier une réunion{% endblock %}

{% block body %}
    <h1>Modifier la Réunion : {{ reunion.titre }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-3">Sauvegarder les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('app_tableau_bord') }}" class="btn btn-secondary mt-2">Retour</a>
{% endblock %}
