{% extends 'base.html.twig' %}

{% block title %}Créer une réunion{% endblock %}

{% block body %}
<h1>Nouvelle Réunion</h1>
<div> Je commence par donner quelques informations sur ma réunion. Choisir une date,</div>

{{ form_start(form) }}
{{ form_errors(form) }}

    {{ form_row(form.titre) }}
    {{ form_errors(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_row(form.lieu) }}
    {{ form_errors(form.lieu) }}
    {{ form_row(form.status) }}
    {{ form_errors(form.status) }}

    <h3>Invités</h3>
    <div id="inviteEmails-wrapper" data-prototype="{{ form_widget(form.inviteEmails.vars.prototype)|e('html_attr') }}">
        {% for emailForm in form.inviteEmails %}
            <div class="invite-email-item mb-2">
                {{ form_row(emailForm) }}
                <button type="button" class="btn btn-danger btn-sm btn-remove-email">Supprimer cet email</button>
            </div>
        {% endfor %}
    </div>

    <button type="button" id="add-inviteEmail" class="btn btn-primary mb-3">Ajouter un email</button>

    <div id="creneaux-wrapper" data-prototype="{{ form_widget(form.creneaux.vars.prototype)|e('html_attr') }}">
        {% for creneauForm in form.creneaux %}
            <div class="creneau-item">
                {{ form_row(creneauForm.start_time) }}
                {{ form_row(creneauForm.end_time) }}
                <button type="button" class="btn btn-danger btn-sm btn-remove-creneau">Supprimer ce créneau</button>
            </div>
        {% endfor %}
    </div>

    <button type="button" id="add-creneau" class="btn btn-secondary mb-3">Ajouter un créneau</button>

    <button class="btn btn-success mt-3">Créer la réunion</button>

{{ form_end(form) }}

{% if invitation_url is defined %}
    <a href="mailto:{{ invite_email }}?subject=Invitation à une réunion&body=Merci de répondre via ce lien : {{ invitation_url }}" class="btn btn-primary">
        Envoyer l'invitation par mail
    </a>
{% endif %}
  
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/creneaux.js') }}"></script>
    <script src="{{ asset('js/inviteMail.js') }}"></script>

{% endblock %}
